<div class={{CentralizedContainer}}>
  <div class={{FormContainer}}>
    <h1 class={{HeaderStyle}}>
      Sign Up
      <span class="text-[#ba0048]"> GLC</span>
    </h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex flex-col mb-2">
        <label class="label m-2">
          <span class="text-gray-300">Username</span>
        </label>
        <input type="text" formControlName="username" placeholder="Enter username" class={{InputStyle}} />
      </div>
      <div class="flex flex-col mb-2">
        <label class="label m-2">
          <span class="text-gray-300">Email</span>
        </label>
        <input type="text" formControlName="email" placeholder="Enter email" class={{InputStyle}} />
      </div>
      <div class="flex flex-col mb-2">
        <label class="label p-2">
          <span class="text-gray-300">Password</span>
        </label>
        <input type="password" formControlName="password" placeholder="Enter password" class={{InputStyle}} />
      </div>
      <a routerLink="/signin" class={{LinkStyle}}>Already have an account?</a>
      <div class="w-full mt-2">
        <button type="submit" class={{ButtonStyle}} [disabled]="isLoading">
          <span *ngIf="isLoading" class="flex justify-center">
            <svg class="h-5 w-5 border-gray-200 animate-spin rounded-full border-4" viewBox="0 0 24 24"></svg>
          </span>
          <span *ngIf="!isLoading">Sign Up</span>
        </button>
      </div>
      <div *ngIf="errorMessage" class="mt-2 text-red-400 text-center">{{errorMessage}}</div>
    </form>
  </div>
</div>