<app-nav></app-nav>
<div class={{HomeContainer}}>
  <div class={{CardContainer}}>

    <div class={{CardTextContainer}}>
      <div class="{{CardTextSize + 'text-gray-200 font-semibold'}}">
        GitHub Sponsors
        <span class="{{CardTextSize + 'text-gray-400 font-medium'}}">
          lets you support your favorite open source maintainers and projects.
        </span>
      </div>
      <a href="#" class={{CardLinkStyle}}>
        Invest with GitHub Sponsors
        <img class="w-4 h-4 ms-2" src={{CardLinkIconUrl}} alt="forward" />
      </a>
    </div>

    <div class={{CardGridContainer}}>
      <div class={{CardGridStyle}}>
        <app-grid-card></app-grid-card>
        <app-grid-card></app-grid-card>
        <app-grid-card></app-grid-card>
        <app-grid-card></app-grid-card>
        <app-grid-card></app-grid-card>
        <app-grid-card></app-grid-card>
        <app-grid-card></app-grid-card>
        <app-grid-card></app-grid-card>
        <app-grid-card></app-grid-card>
      </div>
    </div>


  </div>
</div>